* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: georgia;
    font-style: italic;
    background: #fecb00;
    color: white;
    font-size: 26px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 50px;
    padding: 30px 20px;
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 30px 20px;
    color: #fecb00;
}

.list {
    list-style: none;
    padding: 41px 0 250px 0;
}

.tile {
    background: white;
    color: #fecb00;
    padding: 10px 15px;
    margin: 10px;
}

.tile.active {
    background: #cca300;
    color: white;
}

.close {
    font-style: normal;
    float: right;
}

.footer {
    background: white;
    padding: 15px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    box-shadow: 0px -7px 36px 0px #fecb00;
}

.input {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-size: 26px;
    font-family: georgia;
    font-style: italic;
    color: #fecb00;
    border-bottom: 2px solid #fecb00;
}

::-webkit-input-placeholder {
    color: #fff0b3;
}

.timer {
    margin: 50px auto 0 auto;
    width: 240px;
    display: block;
    background: #cca300;
    padding: 70px 20px;
    border-radius: 50%;
    display: none;
}

.start-timer {
    outline: none;
    border: none;
    padding: 25px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 22px;
    font-family: georgia;
    font-style: italic;
    color: #fecb00;
    background: white;
    margin-left: -60px;
    display: inline-block;
}

.start-timer:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 #cca300;
}

.timer-clock {
    display: inline-block;
    font-size: 50px;
    line-height: 0;
    position: relative;
    top: 8px;
}

.toggle-timer {
    font-style: normal;
    font-size: 26px;
    background: none;
    position: absolute;
    top: 0;
    left: 10px;
    background: white;
    color: #fecb00;
    padding: 5px 10px;
}
